<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <th:block layout:fragment="css">
        <style>
            .error {
                color: #A7D2FFFF;
            }
        </style>
    </th:block>
</head>
<body>
<div class="container">
        <div layout:fragment="content">
            <form action="/members/login" method="post">
                <div class="mb-3">
                    <label for="id" class="form-label">ID</label>
                    <input id="id" type="id" class="form-control" name="id">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input id="password" type="password" class="form-control"  name="password"  placeholder="비밀번호를 입력해주세요">
                </div>
                <p th:if="${loginErrorMsg}"  class="error" th:text="${loginErrorMsg}">
                </p>
                <br>
                <br>
                <div style="text-align: center">
                    <button type="submit" class="btn btn-outline-warning btn-sm">로그인</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="location.href='/members/register'">회원가입</button>
                    <button type="button" onclick="location.href='/members/findID'" class="btn btn-outline-info btn-sm modBtn">아이디 찾기</button>
                    <button type="button" onclick="location.href='/members/findPw'" class="btn btn-outline-info btn-sm modBtn">비밀번호 찾기</button>
                </div>
            </form>

        </div>
</div>
</body>
</html>