<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content" class="content">
        <table border=1 width="100%" height="100%">
            <tr>
                <td width="20%" bgcolor="#add8e6">
                    <div>
                        <a th:href="|@{/members/todoList}|" style="text-decoration-line:none; color: #6e357a; text-align: center">| My Todo 가기</a>
                        <br>
                        <br>
                        <br>
                        <a th:href="|@{/members/modify(mno=${memberUserDTO.mno})}|" style="text-decoration-line:none; color: #6e357a">
                            | 비밀번호 변경
                        </a>
                        <br>
                        <br>
                        <br>
                        <a th:href="|@{/members/remove(mno=${memberUserDTO.mno})}|" style="text-decoration-line:none; color: #6e357a">
                            | 회원 탈퇴
                        </a>
                    </div>
                </td>
                <td>
                    <form id="forms">
                        <div class="form-group has-success right">
                            <label class="control-label" for="id">mno</label>
                            <input type="hidden" id="mno" class="form-control" th:value="${memberUserDTO.mno}" readonly>
                        </div>
                        <div class="form-group has-success">
                            <label class="control-label" for="id">User ID</label>
                            <input type="text" id="id" class="form-control" th:value="${memberUserDTO.id}" readonly>
                        </div>
                        <div class="form-group has-success">
                            <label class="control-label" for="name">name</label>
                            <input type="text" id="name" class="form-control" th:value="${memberUserDTO.name}" readonly>
                        </div>
                        <div class="form-group has-success">
                            <label class="control-label" for="email">email</label>
                            <input type="text" id="email" class="form-control" th:value="${memberUserDTO.email}" readonly>
                        </div>
                        <div class="form-group has-success">
                            <label class="control-label" for="phoneNumber">phoneNumber</label>
                            <input type="text" id="phoneNumber" class="form-control" th:value="${memberUserDTO.phoneNumber}" readonly>
                        </div>
                        <br>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>