<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Festival 글 쓰기</title>
    <th:block layout:fragment="css">
        <!--css-->
        <style>
            .fieldError {
                color: red;
            }
        </style>
    </th:block>

</head>
<body>
<div class="container">
    <div layout:fragment="content" class="content">
        <h3>축제 일정 등록</h3>
        <form  action="/festival/write" method="post" enctype="multipart/form-data" th:object="${festivalDTO}" style="border: 3px solid lavender; padding: 20px; margin-top: 50px">
            <div class="row" >
                <div class="col-2">
                    <select class="form-select form-select-sm col" aria-label="Small select example" name="category" style="border: 2px solid lavender; resize: none;">
                        <option>지역</option>
                        <th:block  th:each="cate: ${category}">
                            <option th:value="${cate}" th:text="${cate.getKrName()}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="col-2">
                    <select class="form-select form-select-sm col" aria-label="Small select example" name="progress" style="border: 2px solid lavender; resize: none;">
                        <option>진행 상태</option>
                        <th:block  th:each="prog: ${progress}">
                            <option th:value="${prog}" th:text="${prog.getKrName()}"></option>
                        </th:block>
                    </select>
                </div>

            </div>
            <div class="row">
                <div class="col-10">
                    <label for="title" class="form-label"></label>
                    <input class="form-control" style="width: 100%; height: 2.25em; border: 2px solid lavender; resize: none;" th:field="*{title}" type="text" placeholder="행사명을 입력해 주세요">
                    <p th:if="${#fields.hasErrors('title')}"    th:errors="*{title}" class="fieldError" >
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <label for="content" class="form-label"></label>
                    <textarea class="form-control" style="width: 100%; height: 10.25em; border: 2px solid lavender; resize: none;"
                              th:field="*{content}" type="text" PLACEHOLDER="행사 설명을 입력해 주세요"></textarea>
                    <p th:if="${#fields.hasErrors('content')}"    th:errors="*{content}" class="fieldError" >
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-4">
                    <label for="scheduleS">축제 시작일</label>
                    <input id="scheduleS"style="width: 30%; border: 2px solid lavender; resize: none;" th:field="*{scheduleS}" type="date" data-placeholder="시작일">
                    <p th:if="${#fields.hasErrors('scheduleS')}"    th:errors="*{scheduleS}" class="fieldError" >
                    </p>
                </div>
                <div class="col-4">
                    <label for="scheduleS">종료일</label>
                    <input id="scheduleF" style="width: 30%; border: 2px solid lavender; resize: none;" th:field="*{scheduleF}" type="date" data-placeholder="종료일">
                    <p th:if="${#fields.hasErrors('scheduleF')}"    th:errors="*{scheduleF}" class="fieldError" >
                    </p>
                </div>
            </div>
            <div class="form-inline form-group" >
            </div>
                <br>
                <div th:if =  "${#lists.isEmpty(festivalDTO.faImgDTOList)}">
                    <div class="input-group mb-3" th:each="num: ${#numbers.sequence(1,3)}">
                        <input type="file" class="form-control cutom-file-input" name="fesImgFile">
                        <label class="input-group-text cutom-file-label" th:text="이미지 + ${num}">Upload</label>
                    </div>
                </div>
                <div th:if =  "${not #lists.isEmpty(festivalDTO.faImgDTOList)}">
                    <div class="input-group  mb-3" th:each="FAImgDTO, status: ${festivalDTO.faImgDTOList}">
                        <input type="file"  class="form-control form-control-file" th:id="${status.index+1}" name="attImgFile" >
                        <input type="text" class="form-control"  name="itemImgIds" th:value="${FAImgDTO.ino}">
                        <label th:for="${status.index+1}" class="input-group-text form-control-label" th:text="${not #strings.isEmpty(FAImgDTO.originName)} ? ${FAImgDTO.originName} : '이미지'" >Upload</label>
                    </div>
                </div>
            <button type="submit" class="btn btn-outline-success">전송</button>
        </form>
    </div>

</div>
<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(function () {
            var errorMessage = [[${errorMessage}]];

            if (errorMessage != null) {
                //모달로 띄우면 좀더 아름답지 않을까?
                alert(errorMessage);
            }
            bindDomEvent();

        })
        function bindDomEvent() {
            $(".form-control-file").on("click", function () {
                console.log($(this).val())
                if($(this).val() == "" &&  $(this).siblings(".form-control-label").val()  == "이미지"){
                    $(this).siblings(".form-control-label").html("이미지");
                }
            })

            $(".form-control-file").on("change", function () {

                var fileName = $(this).val().split("\\").pop();

                console.log(fileName)

                var fileExt = fileName.substring(fileName.lastIndexOf(".")+1);

                fileExt = fileExt.toLowerCase();

                if (fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp") {
                    if(fileExt ==null || fileExt ==""){
                        $(this).siblings(".form-control-label").html("이미지가 비어있습니다.");
                        return;
                    }
                    alert("이미지 파일만 등록이 가능합니다.");
                    return;
                }

                $(this).siblings(".form-control-label").html(fileName);


            })

        }

    </script>


</th:block>
</body>
</html>