<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Festival 글 쓰기</title>
    <th:block layout:fragment="css">
        <!--css-->
        <style>
            .fieldError {
                color: red;
            }
        </style>
    </th:block>

</head>
<body>
<div class="container">
    <div layout:fragment="content" class="content">
        <form action="/festival/write" method="post" enctype="multipart/form-data" th:object="${festivalDTO}">
            <select class="form-select form-select-sm" aria-label="Small select example">
                <option>지역을 선택 하세요</option>
                <th:block th:if="${not #lists.isEmpty(categotys)}"  th:each="cate: ${categotys}">
                    <option th:text="${cate}"></option>
                </th:block>
            </select>
            <div>
                <label for="title" class="form-label"></label>
                <input class="form-control" th:field="*{title}" type="text" placeholder="제목을 입력해 주세요">
                <p th:if="${#fields.hasErrors('title')}"    th:errors="*{title}" class="fieldError" >
                </p>
            </div>
            <div>
                <label for="content" class="form-label"></label>
                <input class="form-control" th:field="*{content}" type="text" PLACEHOLDER="내용을 입력해 주세요">
                <p th:if="${#fields.hasErrors('content')}"    th:errors="*{content}" class="fieldError" >
                </p>
                <div th:if =  "${#lists.isEmpty(festivalDTO.faImgDTOList)}">
                    <div class="input-group mb-3" th:each="num: ${#numbers.sequence(1,5)}">
                        <input type="file" class="form-control cutom-file-input" name="fesImgFile">
                        <label class="input-group-text cutom-file-label" th:text="이미지 + ${num}">Upload</label>
                    </div>
                </div>
                <div th:if =  "${not #lists.isEmpty(festivalDTO.faImgDTOList)}">
                    <div class="input-group  mb-3" th:each="FAImgDTO, status: ${festivalDTO.faImgDTOList}">
                        <input type="file"  class="form-control form-control-file" th:id="${status.index+1}" name="attImgFile" >
                        <input type="text" class="form-control"  name="itemImgIds" th:value="${FAImgDTO.ino}">
                        <label th:for="${status.index+1}" class="input-group-text form-control-label" th:text="${not #strings.isEmpty(FAImgDTO.originName)} ? ${FAImgDTO.originName} : '이미지'" >Upload</label>
                    </div>
                </div>
            <button type="submit" class="btn btn-danger">전송</button>
        </form>
    </div>

</div>
<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(function () {
            var errorMessage = [[${errorMessage}]];

            if (errorMessage != null) {
                //모달로 띄우면 좀더 아름답지 않을까?
                alert(errorMessage);
            }
            bindDomEvent();

        })
        function bindDomEvent() {
            $(".form-control-file").on("click", function () {
                console.log($(this).val())
                if($(this).val() == "" &&  $(this).siblings(".form-control-label").val()  == "이미지"){
                    $(this).siblings(".form-control-label").html("이미지");
                }
            })

            $(".form-control-file").on("change", function () {

                var fileName = $(this).val().split("\\").pop();

                console.log(fileName)

                var fileExt = fileName.substring(fileName.lastIndexOf(".")+1);

                fileExt = fileExt.toLowerCase();

                if (fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp") {
                    if(fileExt ==null || fileExt ==""){
                        $(this).siblings(".form-control-label").html("이미지가 비어있습니다.");
                        return;
                    }
                    alert("이미지 파일만 등록이 가능합니다.");
                    return;
                }

                $(this).siblings(".form-control-label").html(fileName);


            })

        }

    </script>


</th:block>
</body>
</html>