<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Attraction 글 상세 보기</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content" class="content">
        <h1>맛집 나도 알려 줘!</h1>
        <button class="todoBtn">
            <i class="bi bi-bag-heart"></i>
        </button>
        <form id="form-mul" action="/attraction/modify" method="get" enctype="multipart/form-data">
            <div>
                <label for="ano">
                    <input id="ano" name="ano" type="text" th:value="${attractionDTO.ano}" readonly>
                </label>
                <label for="title">
                    <input id="title" name="title" type="text" th:value="${attractionDTO.title}" readonly>
                </label>
                <label for="content">
                    <input id="content" name="content" type="text" th:value="${attractionDTO.content}" readonly>
                </label>
                <label for="writer">
                    <input id="writer" name="writer" type="text" th:value="${attractionDTO.writer}" readonly>
                </label>
                <div>
                    <div class="row">
                        <div class="col">
                                <div class="card-body" th:each="attImg: ${attractionDTO.faImgDTOList}">
                                    <img width="500px" th:if="${not #strings.isEmpty(attImg.imgUrl)}" th:src="@{|/images/fa/@{${attImg.imgName}}|}" th:alt="${attImg.imgName}">
                                </div>
                            </div>
                        </div>
                    </div>
                <th:block th:if="${attractionDTO.writer} == ${#authentication.principal.username}">
                    <button type="submit" class="btn btn-default">수정</button>
                    <button type="button" class="btn btn-default removeBtn">삭제</button>
                </th:block>
            </div>
        </form>
    </div>
</div>
    <script layout:fragment="script" th:inline="javascript">
        const aaa = document.querySelector("#form-mul");
        document.querySelector(".removeBtn").addEventListener("click", function (e){
            e.preventDefault()
            e.stopPropagation()
            aaa.action = "/attraction/delete";
            aaa.method = "post";
            aaa.submit();
        })

        $(document).ready(function (){
            let todoBtn = $(".todoBtn")
            let ano = [[${attractionDTO.ano}]]

            todoBtn.on("click", function (){
                let todoData = {"ano" : ano}
                $.ajax({
                    url : "/todo/new",
                    type : "post",
                    contentType : "application/json; charset=UTF-8",
                    data : JSON.stringify(todoData),
                    dataType : "json",
                    success : function (result,status) {
                        alert(result + "등록 완료????");
                    },
                    error : function (result, status, error) {
                        alert("확인요망 : " + result.responseText)
                        }
                })
            })
        })
    </script>
</body>
</html>