<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content" class="content">
        <main>
            <header style="background-image: url('/img/배경.jpg'); background-repeat : no-repeat; background-size : cover;">
            </header>
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light bold" style="color: darkgray; font-size: xxx-large">오늘 뭐 해?</h1>
                        <br>
                        <br>
                        <p class="lead text-muted">우리 지역의 축제와 맛집 / 명소 등 공유할 수 있는 홈페이지</p>
                        <p class="lead text-muted"> '오늘 뭐 해?' 에 오신 것을 환영합니다!!</p>
                        <br>
                        <h1>--메인 페이지는 아직 공사 중--</h1>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>
</body>
</html>